# Ignore node_modules directory
node_modules/

# Ignore built files and folders (if you're using a build tool like Webpack or Babel)
dist/
build/

# Ignore log files
*.log

# Ignore environment variables and sensitive data
.env

# Ignore any OS-specific or editor-specific files
.DS_Store
.vscode/
.idea/

# Optional: Ignore the npm debug log
npm-debug.log